<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="post" action="/login">
    First Name:<br>
    <input type="text" name="username"><br><br>
    Password:<br>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Submit">

</form>
New user?<a href="/signup">SignUp</a>