


    UserName:<br>
    <input type="text" name="username" id="_username"><br><br>
    Password:<br>
    <input type="password" name="password" id="_password"><br><br>
    <input class="btn btn-primary btn-sm col-1 loginEvent" type="button" value="Login">


New user?<a href="/signup">SignUp</a>