

<form method="post" action="/login">
    UserName:<br>
    <input type="text" name="username"><br><br>
    Password:<br>
    <input type="password" name="password"><br><br>
    <input class="btn btn-primary btn-sm col-1" type="submit" value="Submit">

</form>
New user?<a href="/signup">SignUp</a>