<form method="post" id="signup-form" action="/signup">
Firstname:<input type="text" name="name"><br><br>
Username:<input type="text" name="username"><br><br>
Email:<input type="email" name="email"><br><br>
Phone:<input type="text" name="mob"><br><br>
Create password:<input id="password" type="password" name="password"><br><br>
Confirm password:<input type="password" name="confirmpassword"><br><br>
<input type="submit" value="SignUp">
</form>